/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

[data-bs-theme="light"] .challenge-button {
  border: none;
  box-shadow: 0 0 15px var(--bs-secondary);

  &.challenge-solved {
    background-color: #3666AF !important;

    &:hover {
      background-color: #1c3d6d !important;
    }
  }
}

[data-bs-theme="dark"] .challenge-button {
  border: none;
  background-color: #101828;

  &:hover {
    background-color: #131f36;
  }

  &.challenge-solved {
    background-color: #3666AF !important;

    &:hover {
      background-color: #1c3d6d !important;
    }
  }
}

.challenge-button{
  background-color: #101828 !important;

}
